.kit {
	padding: 80px 0;
	&__title {
		text-align: center;
		text-transform: uppercase;
	}
	&__body {
		margin-top: 50px;
	}
	&__item {
		margin-bottom: 40px;
	}
	&__item-title {
		text-transform: uppercase;
		font-weight: 600;
	}
	&__item-element {
		margin-top: 15px;
	}
}
