// .text-icon
.text-icon {
	display: flex;
	align-items: center;
	gap: 20px;
}
.text-icon__icon {
	font-size: 40px;
	color: $dark-green;
}

.text-icon__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	color: $black;
}

// Form
.form-input {
	background: #fefefe;
	border: none;
	border-radius: 25px;
	height: 45px;
	width: 200px;
	padding: 10px 25px;
	color: $black;
	&:focus {
		outline: none;
	}
}

.form-button {
	background: $green;
	border-radius: 25px;
	width: 290px;
	height: 50px;
	border: none;
	font-weight: 700;
	font-size: 15px;
	line-height: 120%;
	color: #fff;
}

.no-scroll {
	overflow: hidden;
}

.title__container {
	h2 {
		@include header-1();
	}
}
