// Colors
$green: #39b54a;
$dark-green: #008512;
$light-gray: #f0f1f5;
$gray: #868686;
$black: #1e2f45;
$white: #fefefe;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

//Other
@import "./utils";
@import "./ui";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  color: $black;
}
ul {
  margin: 0;
}

//LOGO
.logo {
  position: relative;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    height: 50px;
    width: 315px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    img {
      width: 40px;
      height: 23px;
      margin-right: 13px;
    }
  }

  &__description {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
}

//Components
@import "./components/mobile-advantages";
@import "./components/mobile-menu";
@import "./components/quiz";

// Blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/nav";
@import "./blocks/mobile-header";
@import "./blocks/slider";
@import "./blocks/title";
@import "./blocks/advantages";
@import "./blocks/services";
@import "./blocks/clients";
@import "./blocks/staff";
@import "./blocks/callback";
@import "./blocks/reviews";
@import "./blocks/about";
@import "./blocks/information";
@import "./blocks/cars";
@import "./blocks/price";
@import "./blocks/vacancy";
