<footer class="footer">
			<div class="footer_container container">
				<div class="row">
					<div class="footer__column">
						<div class="logo footer_logo">
							<a href="/"
								><img src="./svg/logo-icon.svg" alt="Logo" />
								<span>Эко-город.рф</span>
							</a>
						</div>
						<div class="footer__info">
							<p>Выезд на заказ: Круглосуточно</p>
							<p>Время приема звонков: 9:00 - 21:00</p>
							<p>г. Новосибирск <br />Ул. Сибиряков Гвардейцев 51/3 к 5</p>
						</div>
						<div class="footer__links">
							<a href="/">Договор на сотрудничество</a
							><a href="/">Политика конфиденциальности</a
							><a href="/">Дизайн сайта: Шарафутдинов Д.</a>
						</div>
					</div>
					<div class="footer__column">
						<div class="footer__nav footer-nav">
							<div class="footer-nav__title">Навигация</div>
							<div class="footer-nav__body">
								<a href="/">Главная </a>
								<a href="/">Услуги </a>
								<a href="/">Наша техника </a>
								<a href="/">Прайс </a>
								<a href="about.html">О компании </a>
								<a href="/">Партнерам </a>
								<a href="/">Отзывы </a>
								<a href="/">Юр. лицам </a>
								<a href="/">Наши работы </a>
							</div>
						</div>
					</div>
					<div class="footer__column">
						<div class="footer__contacts footer-contacts">
							<div class="footer-contacts__title">Контакты</div>
							<div class="footer-contacts__information">
								<div class="footer-contacts__phones">
									<a href="/">+7(923) 777-77-31</a>
									<a href="/">+7(383)381-88-81</a>
								</div>
								<div class="footer-contacts__email">
									<a href="/">denisiki.solid@mail.ru</a>
								</div>
								<div class="footer-contacts__social">
									<span>Задайте вопрос в мессенджер:</span>
									<div>
										<a href="/"><i class="icon-whatsapp"></i></a>
										<a href="/"><i class="icon-Telegram"></i></a>
									</div>
								</div>
							</div>
							<div class="footer-contacts__buttons">
								<a href="#calculator">
									<i class="icon-calculator"></i>&nbsp; Рассчитать стоимость
								</a>
								<a href="/">Заказать звонок</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<span class="footer__copyright">
						© 2007-2020 г. «Эко-город.рф» Все права защищены.
					</span>
					<span class="footer__copyright_info">
						Информация на сайте, носит исключительно информационно-рекламный
						характер, и не является офертой или публичной офертой.
					</span>
				</div>
			</div>
		</footer>