<header class="header">
			<div class="container">
				<div class="header__top">
					<div class="header__logo logo">
						<a href="/"
							><img src="./svg/logo-icon.svg" alt="Logo" />
							<span>Эко-город.рф</span>
						</a>
						<div class="logo__description">
							Официальная утилизация и вывоз мусора
						</div>
					</div>
					<div class="header__working-time">
						<div><i class="icon-24"></i></div>
						<div>
							<p>Выезд на заказ: <b>Круглосуточно</b></p>
							<p>Время приема звонков: <b>9:00 - 21:00</b></p>
						</div>
					</div>
					<div class="header__messendgers">
						<div>Задайте вопрос в мессенджерe:</div>
						<div>
							<a href="/"><i class="icon-whatsapp"></i></a>
							<a href="/"><i class="icon-Telegram"></i></a>
						</div>
					</div>
					<div class="header__phones">
						<div>
							<i class="icon-phone"></i>
						</div>
						<div>
							<a href="/">+7 (963) 466-12-26</a>
							<a href="/">+7 (963) 466-12-26</a>
							<a href="/">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
		</header>