.about_container {
  display: grid;
  grid-template-areas:
    "one one two"
    "three three two";

  @media (max-width: 1270px) {
    grid-template-areas: "one" "two" "three";
  }
  gap: 20px;
  .service {
    &:nth-child(1) {
      grid-area: one;
      min-height: 345px;
    }
    &:nth-child(2) {
      grid-area: two;
    }
    &:nth-child(3) {
      grid-area: three;
      min-height: 345px;
    }
  }
  .service__link {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
  }
}

.about-hero {
  margin-bottom: 100px;
  .title__container {
    h2 {
      @include header-1;
    }
  }
}
.about-hero__container {
  @include card-bg();
	margin-top: 30px;
}
.about-hero__title {
  @include header-2;
}
.about-hero__body {
  display: flex;
  align-items: center;
}

.about-hero__body-content{
	width: 555px;
}
.about-hero__body-image{
	margin-left: auto;
}

@media (max-width: 1270px) {
  .about {
    .service {
      min-height: 360px;
      background-size: 60%;
      background-position: center;
    }
  }
}
