.about_container {
	display: grid;
	grid-template-areas:
		"one one two"
		"three three two";

	@media (max-width: 1270px) {
		grid-template-areas: "one" "two" "three";
	}
	gap: 20px;
	.service {
		&:nth-child(1) {
			grid-area: one;
			min-height: 345px;
		}
		&:nth-child(2) {
			grid-area: two;
		}
		&:nth-child(3) {
			grid-area: three;
			min-height: 345px;
		}
	}
	.service__link {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 16px;
		line-height: 120%;
	}
}

.about-hero__container {
	@include card-bg();
	margin-top: 30px;
}
.about-hero__title {
	@include header-2;
}
.about-hero__body {
	display: flex;
	align-items: center;
}

.about-hero__body-content {
	width: 555px;
}
.about-hero__body-image {
	margin-left: auto;
}

.about-questions {
	margin-top: 80px;
}
.about-questions__container {
	display: grid;
	grid-template-areas:
		"item-1 item-1 item-1 item-1 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2"
		"item-3 item-3 item-3 item-4 item-4 item-4 item-5 item-5 item-5 item-5 item-5 item-5";
	gap: 20px;
	margin-top: 20px;
}
.about-question__item {
	@include card-bg();
}

.item-1 {
	grid-area: item-1;
}
.item-2 {
	grid-area: item-2;
}
.item-3 {
	grid-area: item-3;
}
.item-4 {
	grid-area: item-4;
}
.item-5 {
	grid-area: item-5;
}

.about-question__title {
	display: flex;
	align-items: center;
}
.about-question__number {
	color: $green;
	text-align: center;
	font-family: Manrope;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%;
	text-transform: uppercase;
}
.about-question__title-text {
	color: $black;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%;
	text-transform: uppercase;
	margin-left: 20px;
}
.about-question__body {
	color: $black;

	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	margin-top: 15px;
}

@media (max-width: 1270px) {
	.about {
		.service {
			min-height: 360px;
			background-size: 60%;
			background-position: center;
		}
	}
	.about-hero__body {
		flex-direction: column-reverse;
	}
	.about-hero__body-image {
		margin-left: none;
		max-width: 100%;
		img {
			width: 100%;
			margin: 34px auto;
		}
	}
	.about-hero__body-content {
		width: 100%;
	}
}
