.advantages {
	margin: 100px 0;
}
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 60px;
}
.advantage {
	display: flex;
	align-items: center;
	gap: 20px;
}
.advantage__icon {
	font-size: 40px;
	color: $dark-green;
}
.advantage__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	color: $black;
}
