.callback {
	background-color: $light-gray;
}
.callback_container {
	display: flex;
	align-items: center;

	@media (max-width: 1270px) {
		flex-direction: column;
	}
}
.callback__image {
	img {
		width: 360px;
		height: 315px;
	}
}
.callback__form {
	width: 100%;
	padding-left: 10px;
}
.callback__title {
	font-weight: 800;
	font-size: 28px;
	line-height: 110%;
	color: $black;
	text-transform: uppercase;
}
.callback__links {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	span {
		font-weight: 400;
		font-size: 14px;
		line-height: 160%;
	}
	div {
		display: flex;
		gap: 5px;
		align-items: center;
		margin-left: 20px;
		a {
			display: block;
			padding: 7px 5px;
			border-radius: 7px;
			text-decoration: none;
			color: #fff;
			&:first-child {
				background-color: #39b54a;
			}
			&:last-child {
				background-color: #419fd9;
			}
		}
	}
}

#callback-form {
	div {
		@media (max-width: 1270px) {
			display: flex;
			flex-direction: column;
			.form-input {
				width: 100%;
			}
		}
		input {
			margin-right: 20px;
		}
		button {
			&:hover {
				cursor: pointer;
			}
		}
		label {
			display: flex;
			align-items: center;
			margin-top: 20px;
			span {
				font-weight: 400;
				font-size: 14px;
				line-height: 160%;
			}
		}
	}
}

@media (max-width: 1270px) {
	.callback {
		background: none;
	}
	.callback__image {
		img {
			width: 100%;
			height: auto;
		}
	}
	.callback__title {
		font-weight: 800;
		font-size: 21px;
		line-height: 1.1;
	}
	.callback_container {
		background-color: $light-gray;
		border-radius: 25px;
		padding: 30px;
	}

	.form-input {
		margin-right: 0 !important;
		margin-bottom: 15px;
	}
	.form-button {
		width: 100% !important;
	}
}
