.footer {
	margin-top: 100px;
	&_container {
	}
	&_row {
	}
	&_logo {
	}
	&__info {
		margin-top: 40px;
		font-weight: 400;
		font-size: 14px;
		line-height: 160%;
		p {
			margin-bottom: 15px;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		margin-top: 35px;
		a {
			text-decoration: none;
			color: $dark-green;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;
			margin-bottom: 10px;
		}
	}
	&__column {
		background-color: $light-gray;
		border-radius: 25px 25px 0 0;
		padding: 35px;
		flex: 1 1 33%;
	}
}
