.footer {
	margin-top: 100px;
	.row {
		@media (max-width: 1270px) {
			flex-wrap: wrap;
			background-color: $light-gray;
		}
	}
	&__info {
		margin-top: 40px;
		font-weight: 400;
		font-size: 14px;
		line-height: 160%;
		p {
			margin-bottom: 15px;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		margin-top: 35px;
		a {
			text-decoration: none;
			color: $dark-green;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;
			margin-bottom: 10px;
		}
	}
	&__column {
		background-color: $light-gray;
		border-radius: 25px 25px 0 0;
		padding: 35px;
		flex: 1 1 33%;
		@media (max-width: 1270px) {
			width: 100%;
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

.footer {
	&__nav {
		display: flex;
		flex-direction: column;
	}
}
.footer-nav {
	@media (max-width: 1270px) {
		display: none;
	}
	&__title {
		font-weight: 800;
		font-size: 16px;
		line-height: 120%;
		text-transform: uppercase;
	}
	&__body {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		font-weight: 400;
		font-size: 14px;
		line-height: 200%;
		a {
			text-decoration: none;
			color: $black;
		}
	}
}
.footer-contacts {
	&__title {
		@media (max-width: 1270px) {
			display: none;
		}
	}
}
.footer {
	.icon-whatsapp {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 7px;
		border-radius: 4px;
		text-decoration: none;
		color: #fff;
		background-color: #39b54a;
	}
	.icon-Telegram {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 7px;
		border-radius: 4px;
		text-decoration: none;
		color: #fff;
		background-color: #419fd9;
	}
}
.footer-contacts {
	&__title {
		font-weight: 800;
		font-size: 16px;
		line-height: 120%;
		text-transform: uppercase;
	}
	&__information {
		margin-top: 25px;
		display: flex;
		flex-direction: column;
	}
	&__phones {
		display: flex;
		flex-direction: column;
		font-weight: 600;
		font-size: 15px;
		line-height: 100%;
		a {
			text-decoration: none;
			color: $black;
			margin-bottom: 10px;
		}
	}
	&__email {
		font-weight: 400;
		font-size: 14px;
		line-height: 160%;
		a {
			color: $dark-green;
			text-decoration: none;
		}
	}
	&__social {
		display: flex;
		align-items: center;
		margin-top: 23px;
		span {
			width: 110px;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			margin-right: 10px;
		}
		div {
			display: flex;
			align-items: center;
			gap: 5px;
			a {
				text-decoration: none;
			}
		}
	}
	&__buttons {
		margin-top: 55px;
		display: flex;
		flex-direction: column;
		a {
			display: block;
			width: 290px;
			text-align: center;
			padding: 16px 0;
			background-color: $green;
			text-decoration: none;
			color: #fff;
			border-radius: 25px;

			@media (max-width: 1270px) {
				width: 100%;
			}

			&:last-child {
				margin-top: 15px;
			}
		}
	}
}
.footer {
	.row {
		&:last-child {
			min-height: 50px;
			display: flex;
			align-items: center;
			span {
				display: block;
			}
			@media (max-width: 1270px) {
				padding: 0 35px;
			}
		}
	}
}

.footer__copyright {
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	color: $black;
	@media (max-width: 1270px) {
		font-weight: 400;
		font-size: 13px;
		line-height: 160%;
	}
}
.footer__copyright_info {
	font-weight: 300;
	font-size: 12px;
	line-height: 160%;
	color: $gray;
	@media (max-width: 1270px) {
		font-weight: 400;
		font-size: 13px;
		line-height: 160%;
	}
}

.footer_logo {
	@media (max-width: 1270px) {
		display: none;
	}
}
